.contact {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.contact h1 {
    color: black;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.contact button {
    margin-bottom: 10%;
    color: black;
    background-color: aquamarine;
    height: 70%;
    width: 30%;
    border: none;
    display: grid;
    justify-content: center;
    align-items: center;
}

.contact button:hover{
     margin-bottom: 10%;
    color: black;
    background-color: aqua;
    height: 80%;
    width: 40%;
    border: inherit;   
}

.contact h1:hover{
    color: red;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}
